<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploading</title>
</head>

<body>
    <h1>To Upload Image on mongoDB</h1>
    <hr>
    <hr>
    <h1>Uploaded Images</h1>
    <div>
        <h1>
            <%= username %>
        </h1>
        <ol>
            <% response.forEach(function(element) {%>

                <li>
                    <%= element.todos.todo %>
                </li>>
                <img
                    src="data:image/<%=element.todos.image.contentType%>;base64,<%=element.todos.image.data.toString('base64')%>">
                <ul>
                    <% element.todos.items.forEach(function(item) {%>
                        <li>
                            <%= item.item %>
                        </li>
                        <% }) %>
                </ul>

                <% }) %>
        </ol>
    </div>
</body>

</html>